/* Reset Css Abaixo*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
   
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    /* 62.5% of 16px user agent font size is 10px */
  font-size: 62.5%; /*a cada 1 rem é igual a 10px  */
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.main-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


.sadmin-questionare-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    padding: 1rem;
}

.sadmin-questionaire-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 1rem;
    margin-top: 4rem;

}

.sadmin-questionare-list-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 90vw;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3rem;
    padding: 2.5rem;
    border: 0.1rem solid #dfdfdf;
    border-radius: 0.5rem;

}

.questionare-status {
    background-color: #8dffc6;
    padding: 0.8rem;
    border-radius: 0.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.3rem;
    color: #2e2e2e;
}

.sadmin-search-input {
    border: 0.1rem solid #ccc;
    border-radius: 0.4rem;
    box-sizing: border-box;
    padding: 0.8rem;
    width: 20vw;
}

.sadmin-search-input:focus {
    outline-width: 0;
    border: 0.1rem solid #2196F3;
}

.sadmin-search-quest-bar {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    
}

.sadmin-header {
    width: 100vw;
    height: 4rem;
    padding: 1rem;
}

.sadmin-ifnmg-logo {
    width: 3rem;
    margin-left: 2rem;
}

.sadmin-logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.sadmin-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #2e2e2e;
}

.sadmin-text-container {
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
}

.sadmin-questionare-description-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.3rem;
    
}

.sadmin-create-questionare-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0.4rem;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.3rem;
    width: 10vw;
    text-decoration: none;
    color: #fff;
    background-color: #00bb5d;
    transition: 0.3s;
}

.sadmin-create-questionare-link:hover {
    opacity: 0.7;
    cursor: pointer;
}

.sadmin-questionare-access-link {
    color: #2196F3;
    transition: 0.3s ease-in-out;
    font-size: 1.5rem;
}

.sadmin-questionare-access-link:hover {
    opacity: 0.7;
}


.sadmin-questionare-update-container {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
    color: #7c7c7c;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;

}

.sadmin-user-menu-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    color: #fff;
    margin-right: 6rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
}


.sadmin-questionare-responses {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.3rem;
}


.sadmin-questionare-analysis-link {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #2e2e2e;
    width: 15vw;
    background-color: #fff;
    border: 0.1rem solid #2e2e2e;
    border-radius: 0.3rem;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.3rem;
    transition: 0.3s;
}

.sadmin-questionare-analysis-btn:hover {
    cursor: pointer;
}

.sadmin-questionare-analysis-link:hover {
    cursor: pointer;
    opacity: 0.7;

}

.sadmin-questionare-options {
    transition: 0.3s;
}

.sadmin-questionare-options:hover {
    opacity: 0.7;
}